.sign-up-auth-section {
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 5rem 0;
    min-height: 90vh;
    background-color: var(--secondary-color);
}

.sign-up-auth-section .sign-up-card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    background-color: var(--white-color);
    width: 50rem;
    border: 0.1rem solid var(--secondary-color);
    border-radius: 0.5rem;
}

.sign-up-auth-section .sign-up-card form {
    width: 100%;
}

.sign-up-auth-section .sign-up-card .auth-control-input {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-bottom: 2rem;
}

.sign-up-auth-section .sign-up-card .auth-control-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.sign-up-auth-section .sign-up-card .auth-control-input .auth-label {
    margin-bottom: 0.1rem;
    color: var(--dark-color);
    font-size: 1.6rem;
    font-weight: 500;
}

.sign-up-auth-section .sign-up-card .auth-control-input .auth-input {
    margin-top: 0.5rem;
    padding: 1rem 2rem;
    color: var(--dark-color);
    font-size: 1.6rem;
    font-weight: 500;
    width: 100%;
    border: 0.1rem solid var(--border-color);
    border-radius: 0.5rem;
    outline: none;
}

.sign-up-auth-section .sign-up-card .auth-control-input .auth-input:focus {
    border: 0.1rem solid var(--primary-color);
}

.sign-up-auth-section .sign-up-card .auth-control-btn .auth-btn {
    margin-top: 1rem;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--primary-color);
    background-color: var(--white-color);
    border: 0.1rem solid var(--primary-color);
    border-radius: 0.5rem;
}

.sign-up-auth-section .sign-up-card .auth-control-btn .auth-btn:hover {
    transform: scale(1.05);
}

@media screen and (max-width:76.8rem) {
    .sign-up-auth-section .sign-up-card {
        margin: 1rem;
        padding: 2.4rem;
    }
}